@layer reset {
  button,
  select {
    background: none;
    border: none;
    font: inherit;
    padding: 0;
  }
}

@layer components {
  button {
    font-weight: var(--font-semibold);
  }

  button[aria-pressed="true"] {
    opacity: 0.5;
  }

  button,
  select {
    color: var(--color-accent);
    padding: var(--space-xs) var(--space-sm);
  }

  select {
    appearance: base-select;
    display: inline-flex;
    align-items: center;
    font-weight: var(--font-semibold);
  }

  select::picker-icon {
    content: "^";
    rotate: 180deg;
    height: var(--space-md);
    transform: scaleX(1.4);
  }
}
